@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #83d170 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #83d170 !important;
  border-color: #83d170 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #54b93c !important;
  border-color: #54b93c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #54b93c !important;
  border-color: #54b93c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #4ba635;
  color: #4ba635;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #83d170;
  border-color: #83d170;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #83d170 !important;
  border-color: #83d170 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #83d170 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #4ba635 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #83d170;
  border-color: #83d170;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #83d170;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #83d170;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #83d170;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #83d170;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #83d170;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #83d170;
  border-bottom-color: #83d170;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #83d170 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2383d170' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rZpNttUrX6 {
  padding-top: 105px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-rZpNttUrX6 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rZpNttUrX6 .section-text {
  padding: 2rem 0;
  color: #83d170;
}
.cid-rZpNttUrX6 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rZpNttUrX6 .inner-container {
    width: 100% !important;
  }
}
.cid-rZpJQAajfR {
  background-image: url("../../../assets/images/car-1149997-1920-1920x1280.jpg");
}
.cid-rZpJQAajfR .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rZpJQAajfR .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rZpJQAajfR .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rZpJQAajfR .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rZpJQAajfR .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rZpJQAajfR a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rZpJQAajfR a.close:hover {
  color: #ffffff;
}
.cid-rYLDtvP4O9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-rYLDtvP4O9 .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-rYLDtvP4O9 .btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none !important;
}
.cid-rYLDtvP4O9 .btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.cid-rYLDtvP4O9 .btn-social + .btn {
  margin-left: .1rem;
}
.cid-rYLDtvP4O9 [class^="socicon-"]:before,
.cid-rYLDtvP4O9 [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-rYLDtvP4O9 .btn {
    font-size: 20px !important;
  }
}
.cid-rYLDtvP4O9 .mbr-section-title {
  color: #ffffff;
}
.cid-rYLEfA2pPf .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rYLEfA2pPf .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rYLEfA2pPf a {
  font-style: normal;
}
.cid-rYLEfA2pPf .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rYLEfA2pPf .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rYLEfA2pPf .nav-item:focus,
.cid-rYLEfA2pPf .nav-link:focus {
  outline: none;
}
.cid-rYLEfA2pPf .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rYLEfA2pPf .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rYLEfA2pPf .menu-logo {
  margin-right: auto;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu {
  background: #333333;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rYLEfA2pPf .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rYLEfA2pPf button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rYLEfA2pPf button.navbar-toggler:focus {
  outline: none;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .btn {
  display: -webkit-flex;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rYLEfA2pPf .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rYLEfA2pPf .collapsed button.navbar-toggler {
  display: block;
}
.cid-rYLEfA2pPf .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rYLEfA2pPf .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rYLEfA2pPf .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf img {
    height: 3.8rem !important;
  }
  .cid-rYLEfA2pPf .btn {
    display: -webkit-flex;
  }
  .cid-rYLEfA2pPf button.navbar-toggler {
    display: block;
  }
  .cid-rYLEfA2pPf .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rYLEfA2pPf .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing,
  .cid-rYLEfA2pPf .navbar-collapse.show {
    display: block !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rYLEfA2pPf .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rYLEfA2pPf .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rYLEfA2pPf .nav-link:hover,
.cid-rYLEfA2pPf .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rYLEfA2pPf .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rYLEfA2pPf .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rYLEfA2pPf a {
  font-style: normal;
}
.cid-rYLEfA2pPf .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rYLEfA2pPf .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rYLEfA2pPf .nav-item:focus,
.cid-rYLEfA2pPf .nav-link:focus {
  outline: none;
}
.cid-rYLEfA2pPf .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rYLEfA2pPf .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rYLEfA2pPf .menu-logo {
  margin-right: auto;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu {
  background: #333333;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rYLEfA2pPf .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rYLEfA2pPf button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rYLEfA2pPf button.navbar-toggler:focus {
  outline: none;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .btn {
  display: -webkit-flex;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rYLEfA2pPf .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rYLEfA2pPf .collapsed button.navbar-toggler {
  display: block;
}
.cid-rYLEfA2pPf .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rYLEfA2pPf .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rYLEfA2pPf .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf img {
    height: 3.8rem !important;
  }
  .cid-rYLEfA2pPf .btn {
    display: -webkit-flex;
  }
  .cid-rYLEfA2pPf button.navbar-toggler {
    display: block;
  }
  .cid-rYLEfA2pPf .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rYLEfA2pPf .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing,
  .cid-rYLEfA2pPf .navbar-collapse.show {
    display: block !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rYLEfA2pPf .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rYLEfA2pPf .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rYLEfA2pPf .nav-link:hover,
.cid-rYLEfA2pPf .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rZNqpS23Sp {
  padding-top: 105px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-rZNqpS23Sp .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rZNqpS23Sp .section-text {
  padding: 2rem 0;
  color: #83d170;
}
.cid-rZNqpS23Sp .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rZNqpS23Sp .inner-container {
    width: 100% !important;
  }
}
.cid-rZNJM6PODu {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #83d170;
}
.cid-rZNJM6PODu P {
  color: #767676;
}
.cid-rZNJM6PODu H1 {
  color: #ffffff;
}
.cid-rZNJM6PODu .mbr-text,
.cid-rZNJM6PODu .mbr-section-btn {
  color: #5b686b;
}
.cid-rZNOwAMJTt {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
@media (min-width: 992px) {
  .cid-rZNOwAMJTt .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-rZNOwAMJTt .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-rZNOwAMJTt .mbr-text {
  color: #ffffff;
}
.cid-rZNqX6a157 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #83d170;
}
@media (min-width: 992px) {
  .cid-rZNqX6a157 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rZNqX6a157 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rZNqX6a157 .mbr-text {
  color: #232323;
}
.cid-rZNr2Fjv4R {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #232323;
}
.cid-rZNr2Fjv4R .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-rZNr2Fjv4R .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-rZNr2Fjv4R .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-rZNr2Fjv4R .media-container-row .img-item .img-caption {
  background: #83d170;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-rZNr2Fjv4R .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-rZNr2Fjv4R .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-rZNr2Fjv4R .img-item {
    width: 100% !important;
  }
  .cid-rZNr2Fjv4R .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-rZNqepCGUL {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #83d170;
}
.cid-rZNqepCGUL .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rZNqepCGUL .mbr-content-text {
  color: #5b686b;
  margin-bottom: 0;
}
.cid-rZNqepCGUL .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rZNqepCGUL .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #232323;
  border-radius: 50%;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-rZNqepCGUL .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-rZNqepCGUL .cards-block {
    border-top: 2px solid #232323;
  }
}
.cid-rZNqepCGUL .cards-block .card {
  border-bottom: 2px solid #232323;
  border-radius: 0;
}
.cid-rZNqepCGUL .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rZNqepCGUL .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rZNqepCGUL .media-block {
    padding-left: 2rem;
  }
}
.cid-rZNqepCGUL .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rZNqepCGUL .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rZNqepCGUL .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rZNqepCGUL .mbr-section-title {
  color: #ffffff;
}
.cid-rZNqepCGUL H4 {
  color: #ffffff;
}
.cid-rZNs1N86sB {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-rZNs1N86sB .mbr-section-subtitle {
  color: #cccccc;
}
.cid-rZNs1N86sB .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rZNs1N86sB .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-rZNs1N86sB .team-item .item-image img {
  width: 100%;
}
.cid-rZNs1N86sB .team-item .item-name p {
  margin-bottom: 0;
}
.cid-rZNs1N86sB .team-item .item-role p {
  margin-bottom: 0;
}
.cid-rZNs1N86sB .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-rZNs1N86sB .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-rZNs1N86sB .team-item .item-caption {
  background: #83d170;
}
.cid-rZNs1N86sB H2 {
  color: #ffffff;
}
.cid-rZNq2cyrGH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-rZNq2cyrGH .form-control,
.cid-rZNq2cyrGH .form-control:focus {
  background: #efefef;
  border: 1px solid #83d170;
}
.cid-rZNq2cyrGH .form-container {
  transition: all .2s;
  border: 1px solid #83d170;
  padding: 1rem;
}
.cid-rZNq2cyrGH textarea.form-control {
  min-height: 188px;
}
.cid-rZNq2cyrGH .input-group-btn {
  justify-content: center;
  -webkit-justify-content: center;
}
@media (min-width: 768px) {
  .cid-rZNq2cyrGH .content-container {
    padding-right: 5rem;
  }
}
.cid-rZNq2cyrGH .mbr-text,
.cid-rZNq2cyrGH .mbr-section-btn {
  color: #efefef;
  text-align: right;
}
.cid-rZq7dotL4u {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-rZq7dotL4u .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-rZq7dotL4u .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-rZq7dotL4u .btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none !important;
}
.cid-rZq7dotL4u .btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.cid-rZq7dotL4u .btn-social + .btn {
  margin-left: .1rem;
}
.cid-rZq7dotL4u [class^="socicon-"]:before,
.cid-rZq7dotL4u [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-rZq7dotL4u .btn {
    font-size: 20px !important;
  }
}
.cid-rZq7dotL4u .mbr-section-title {
  color: #ffffff;
}
.cid-rYLEfA2pPf .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rYLEfA2pPf .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rYLEfA2pPf a {
  font-style: normal;
}
.cid-rYLEfA2pPf .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rYLEfA2pPf .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rYLEfA2pPf .nav-item:focus,
.cid-rYLEfA2pPf .nav-link:focus {
  outline: none;
}
.cid-rYLEfA2pPf .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rYLEfA2pPf .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rYLEfA2pPf .menu-logo {
  margin-right: auto;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu {
  background: #333333;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rYLEfA2pPf .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rYLEfA2pPf .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rYLEfA2pPf .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rYLEfA2pPf .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rYLEfA2pPf button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rYLEfA2pPf button.navbar-toggler:focus {
  outline: none;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rYLEfA2pPf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rYLEfA2pPf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rYLEfA2pPf .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .btn {
  display: -webkit-flex;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rYLEfA2pPf .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rYLEfA2pPf .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rYLEfA2pPf .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rYLEfA2pPf .collapsed button.navbar-toggler {
  display: block;
}
.cid-rYLEfA2pPf .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rYLEfA2pPf .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rYLEfA2pPf .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rYLEfA2pPf .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rYLEfA2pPf .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf img {
    height: 3.8rem !important;
  }
  .cid-rYLEfA2pPf .btn {
    display: -webkit-flex;
  }
  .cid-rYLEfA2pPf button.navbar-toggler {
    display: block;
  }
  .cid-rYLEfA2pPf .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rYLEfA2pPf .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rYLEfA2pPf .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing,
  .cid-rYLEfA2pPf .navbar-collapse.show {
    display: block !important;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rYLEfA2pPf .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rYLEfA2pPf .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rYLEfA2pPf .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rYLEfA2pPf .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rYLEfA2pPf .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rYLEfA2pPf .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rYLEfA2pPf .nav-link:hover,
.cid-rYLEfA2pPf .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-s01OUNtjYJ {
  padding-top: 105px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-s01OUNtjYJ .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s01OUNtjYJ .section-text {
  padding: 2rem 0;
  color: #83d170;
}
.cid-s01OUNtjYJ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s01OUNtjYJ .inner-container {
    width: 100% !important;
  }
}
.cid-s02oo0XY8W {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #83d170;
}
.cid-s02oo0XY8W P {
  color: #767676;
}
.cid-s02oo0XY8W H1 {
  color: #ffffff;
}
.cid-s02oo0XY8W .mbr-text,
.cid-s02oo0XY8W .mbr-section-btn {
  color: #232323;
}
.cid-s01Uivzk0h {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
.cid-s01Uivzk0h .mbr-text {
  color: #ffffff;
}
.cid-s02s0xlfB4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #83d170;
}
.cid-s02s0xlfB4 .mbr-text,
.cid-s02s0xlfB4 blockquote {
  color: #767676;
}
.cid-s02s0xlfB4 .mbr-text P {
  text-align: center;
}
.cid-s02s0xlfB4 .mbr-text {
  color: #232323;
}
.cid-s02sx71z0Z {
  background: #232323;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s02sx71z0Z .image-block {
  margin: auto;
}
.cid-s02sx71z0Z figcaption {
  position: relative;
}
.cid-s02sx71z0Z figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s02sx71z0Z .image-block {
    width: 100% !important;
  }
}
.cid-s02supLZH8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #83d170;
}
.cid-s02supLZH8 .mbr-text {
  color: #232323;
}
.cid-s02supLZH8 .mbr-text P {
  text-align: right;
}
.cid-s02kyS6SvU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s02kyS6SvU P {
  color: #767676;
}
.cid-s02kyS6SvU H1 {
  color: #ffffff;
}
.cid-s021CksxCo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #83d170;
}
.cid-s021CksxCo h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s021CksxCo .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-s021CksxCo .mbr-section-subtitle {
  color: #232323;
}
.cid-s021CksxCo .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-s021CksxCo ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-s021CksxCo path {
  stroke: #ff3366;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-s021CksxCo .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-s021CksxCo .mbr-section-title {
  color: #ffffff;
}
.cid-s021CksxCo P {
  color: #ffffff;
}
.cid-s01U0pDgOd {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s01U0pDgOd .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 300;
}
.cid-s01U0pDgOd .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-s01U0pDgOd .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-s01U0pDgOd .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-s01U0pDgOd .card-front img {
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-s01U0pDgOd .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #83d170;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cid-s01U0pDgOd .card {
  min-height: 300px;
}
.cid-s01U0pDgOd .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cid-s01U0pDgOd .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cid-s01U0pDgOd .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-s01U0pDgOd .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-s01U0pDgOd .mbr-section-title {
  color: #83d170;
}
.cid-s01U0pDgOd P {
  color: #232323;
  text-align: center;
}
.cid-s01U0pDgOd .mbr-section-title P {
  text-align: right;
}
.cid-s01SNPg3K0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #83d170;
}
.cid-s01SNPg3K0 .title {
  margin-bottom: 2rem;
}
.cid-s01SNPg3K0 .mbr-section-subtitle {
  color: #232323;
}
.cid-s01SNPg3K0 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-s01SNPg3K0 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-s01SNPg3K0 textarea.form-control {
  min-height: 188px;
}
.cid-s01SNPg3K0 H2 {
  color: #ffffff;
}
.cid-rZq769aNI7 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-rZq769aNI7 .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-rZq769aNI7 .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-rZq769aNI7 .btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none !important;
}
.cid-rZq769aNI7 .btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.cid-rZq769aNI7 .btn-social + .btn {
  margin-left: .1rem;
}
.cid-rZq769aNI7 [class^="socicon-"]:before,
.cid-rZq769aNI7 [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-rZq769aNI7 .btn {
    font-size: 20px !important;
  }
}
.cid-rZq769aNI7 .mbr-section-title {
  color: #ffffff;
}
